
.heroDivStyle {
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 100vh;
  background-size: cover;
  width: 100%;
  margin-top: 20px;
}

.form {
  position: relative;
  font-size: 30px;
  left: 10px;
}

.emailTitle {
  position: relative;
  bottom: -15px;
  left: 10px;
}

.nameTitle {
  position: relative;
  bottom: -70px;
  left: 10px;
}

.name {
  width: 85%;
  left: 75px;
  top: 10px;
}

.email {
  width: 85%;
  left: 75px;
  top: -40px;
}

.btnSubmit {
  left: 385px;
  bottom: 20px;
}

.btnCancel {
  left: 350px;
  bottom: 20px;
}